.section-hero-description {
  display: flex;
  flex-direction: column;
  margin: 152px 0 0 8%;
}

.hero-video-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#play-btn {
  margin-right: 16px;
}

.video-link {
  font-weight: var(--medium-text);
  font-size: 16px;
  line-height: 24px;
  color: var(--white-text-color);
}

.hero-image {
  position: absolute;
  left: 60%;
  top: 170px;
}

@media screen and (max-width: 768px) {
  .section-hero-description {
    align-items: center;
    margin: 92px 0 90px;
  }

  .hero-title {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    width: 272px;
    margin: 0 auto 16px;
  }

  .hero-description {
    font-size: 16px;
    line-height: 28px;
    width: 328px;
    text-align: center;
  }

  .hero-video-link {
    margin-top: 66px;
  }

  .hero-image {
    display: none;
  }
}