.section-hero-description {
  display: flex;
  flex-direction: column;
  margin: 170px 0 0 125px;
}

.hero-title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  color: var(--white-text-color);
  width: 490px;
  margin-bottom: 24px;
}

.hero-description {
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 584px;
}

.hero-video-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#play-btn {
  margin-right: 16px;
}

.video-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-text-color);
}


.hero-image {
  position: absolute;
  right: 231px;
  top: 170px;
}