.hero {
  width: 100vw;
  height: 616px;
  overflow-y: hidden;
  background: url('../../images/heroBackground.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 -1.49%, #5912AC 86.02%);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 360px) {
  .hero {
    width: 100vw;
    height: 540px;
    background-size: cover;
    background: url('../../images/heroBackgroundSmall.png'), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  }
}