main {
  background: rgb(250, 249, 247);
}

.section-title {
  color: var(--grey-text-color);
  font-weight: var(--medium-text);
  font-size: 28px;
  line-height: 32px;
}

.section-paragraph {
  color: var(--grey-text-color);
  font-weight: var(--light-text);
  font-size: 16px;
  line-height: 28px;
}

.justify {
  text-align: justify;
}

.section-line {
  width: 55%;
  margin: auto;
  border: 1px solid rgb(223, 223, 223);
}

.section {
  display: flex;
}

#section-one {
  align-items: center;
}

#section-one div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 120px 4% 120px 16%;
  width: 30%;
}

#section-one p {
  margin: 40px 0;
  text-align: left;
  line-height: 28px;
}

#section-two {
  flex-direction: column;
  align-items:  center;
  margin: 64px 0;
  text-align: center;
}

#section-two:first-child {
  display: flex;
  flex-direction: column;
}

#section-two h2 {
  font-size: 22px;
}

#section-two p {
  line-height: 24px;
  margin: 16px 0 74px;
}

#section-three {
  justify-content: space-evenly;
  margin: 96px 0;
}

#section-three div { 
  display: flex;
  justify-content: center;
}

#section-three div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-left: 3%;
}

#section-three p {
  margin: 40px 0;
}

#section-four {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 96px 0 104px;
}

#section-four p {
  width: 55%;
  margin: 40px 0;
  text-align: center;
}

#section-four a {
  margin-bottom: 64px;
}

#section-five {
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
}

#section-five h2 {
  margin: 40px 0;
}

#section-five p {
  width: 55%;
  text-align: center;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 22px;
  }

  .section-line {
    width: 91.1%;
    margin: 0 auto;
  }

  #section-one {
    padding-top: 64px;
    display: block;
  }

  #section-one div {
    margin: 292px auto 64px;
    width: 91.1%;
    text-align: center;
  }

  #section-one div p {
    text-align: center;
    margin: 16px 0 24px;
  }

  #section-one img {
    position: absolute;
    width: 304px;
    height: 204px;
    left: calc((100vw - 304px) / 2);
    top: 820px;
  }

  #section-two {
    width: 91.1%;
    margin: 64px auto;
  }

  #section-two p {
    margin-bottom: 32px;
  }

  #section-three {
    width: 91.1%;
    margin: 64px auto;
  }

  #section-three div {
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  #section-three div:nth-child(2) {
    width: 100%;
    margin: 0 auto;
  }

  #section-three h2 {
    width: 60%;
    margin: 40px 0 16px;
  }

  #section-three p {
    text-align: center;
    margin: 0 0 24px;
  }

  #section-three img {
    width: 312px;
    height: 230px;
  }

  #section-four p {
    width: 100% !important;
  }

  #section-five {
    width: 91.1%;
    margin: 64px auto;
    text-align: center;
  }

  #section-five h2 {
    margin: 24px 0 16px;
  }

  #section-five p {
    width: 100%;
    margin: 0 auto 64px;
  }
}

@media screen and (max-width: 1100px) {

  #section-four {
    width: 91.1%;
    margin: 64px auto;
  }

  #section-four h2 {
    width: 60%;
    text-align: center;
  }

  #section-four p {
    width: 55%;
    text-align: center;
    margin: 16px 0 24px;
  }

  #section-four a {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #section-four img {
    display: none;
  }
}