main {
  background: rgb(250, 249, 247);
}

.main-section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 120px 56px 0 228px;
  width: 444px;
}

.main-section p {
  margin: 40px 0;
}
