header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
}

header .left-container #badger {
  margin-right: 40px;
}

.header-links {
  margin-right: 32px;
  text-decoration: none;
}

header .right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
}

.btn {
  cursor: pointer;
}

.right-container .action-btn {
  width: 234px;
  height: 44px;
  margin-right: 23px;
}

.sign-btn {
  background: none;
  border: none;
}

.hero-text {
  font-size: 14px;
  font-weight: var(--medium-text);
  color: var(--white-text-color);
  line-height: 20px;
}