.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
  margin-top: 80px;
}

.footer-section div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h2 {
  margin-bottom: 16px;
  text-align: center;
}

.footer-section p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#create-nany-btn {
  margin: 32px 0 24px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 82px 0 90px;
  width: 100%;
}

.empty-container {
  width: 440px;
  height: 20px;
}

.nav-links ul {
  display: flex;
  position: absolute;
  left: calc((100vw - 440px) / 2);
}

.nav-links li {
  list-style: none;
  font-weight: var(--medium-text);
  font-size: 14px;
  line-height: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--grey-text-color);
  margin-right: 30px;
}

#social-links a {
  margin-right: 16px;
}

#footer-line {
  border: 1px solid #DFDFDF;
  width: 82%;
  text-align: center;
  opacity: 0;
  margin-bottom: 32px;
}

#footer-copyright {
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-text-color);
  opacity: 0.6;
  mix-blend-mode: normal;
}

@media screen and (max-width: 768px) {
  .footer-section {
    margin-top: 40px;
  }

  .footer-section h2 {
    margin-bottom: 0;
  }

  .footer-section p {
    font-size: 16px;
    line-height: 28px;
  }

  #create-nany-btn {
    margin: 24px 0;
  }

  footer {
    width: 90%;
    flex-direction: column;
    margin: 48px 0 40px;
  }

  .empty-container {
    display: none;
  }

  footer #hapu-logo {
    margin-bottom: 32px;
  }

  .nav-links ul {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 57px;
    position: unset;
    margin-left: 15%;
  }

  .nav-links ul li a {
    margin-right: 32px;
  }

  #social-links {
    margin-top: 24px;
  }

  #footer-line {
    opacity: 1;
    margin-bottom: 24px;
  }
}