.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
  margin-top: 80px;
}

.footer-section div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section h2 {
  margin-bottom: 16px;
  text-align: center;
}

.footer-section p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#create-nany-btn {
  margin: 32px 0 24px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 82px;
  margin-bottom: 90px;
}

.nav-links ul {
  display: flex;
  margin: 0 206px 0 335px;
}

.nav-links li {
  list-style: none;
  font-weight: var(--medium-text);
  font-size: 14px;
  line-height: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--grey-text-color);
  margin-right: 30px;
}

#social-links a {
  margin-right: 16px;
}

#footer-line {
  border: 1px solid #DFDFDF;
  width: 1184px;
  text-align: center;
  opacity: 0;
  margin-bottom: 32px;
}

#footer-copyright {
  font-size: 12px;
  line-height: 16px;
  color: var(--grey-text-color);
  opacity: 0.6;
  mix-blend-mode: normal;
}