@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --white-text-color: rgba(255, 255, 255, 1);
  --purple-text-color: rgba(94, 32, 164, 1);
  --medium-text: 500;
  --light-text: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
