@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --white-text-color: rgba(255, 255, 255, 1);
  --purple-text-color: rgb(94, 32, 164);
  --grey-medium-text-color: rgb(61, 61, 61);
  --grey-light-text-color: rgb(74, 74, 74);
  --medium-text: 500;
  --light-text: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.link-medium {
  color: var(--purple-text-color);
  font-weight: var(--medium-text);
  font-size: 16px;
  line-height: 24px;
}